.mat-sort-header-container {
    align-items: center;
  }

.button-add-row{
  color: white;
  background-color: green;
}  


.button-filter{
  color: white;
  background-color: darkolivegreen;
}  


element.style {
  background-color: green;
}
.btn:hover, .btn:focus, .btn.focus {
  color: #333;
  text-decoration: none;
}


div alert{
  color:blue;
}

tr { 
  height: 50px; 
  vertical-align: top;
}

td{
  white-space: nowrap;
}